*{box-sizing:border-box;}
body,html{height:100%;background:#fff;}
body{position:relative;padding:48px 0 124px;}
.container{width:1200px;margin:0 auto;}
.body>.ant-layout-header{width:100%;padding:0;line-height:100%;background:none;position:absolute;left:0;top:0;}
